/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0c81da;
    color: #333;
}

/* HEADER */
header {
    width: 100%;
    background: #4A90E2;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #e25e5e;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* FULL PAGE PROFILE SECTION */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Full screen below header */
}

.profile-container {
    background: #fff;
    width: 60%;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* PROFILE IMAGE */
.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #4A90E2;
    object-fit: cover;
}

/* PROFILE TEXT */
.name {
    margin-top: 20px;
    font-size: 32px;
}

.role {
    font-size: 20px;
    color: #4A90E2;
    margin: 10px 0;
}

.about {
    margin: 20px auto;
    font-size: 17px;
    width: 80%;
    color: #555;
}

/* SOCIAL LINKS */
.social-links a {
    margin: 0 12px;
    font-size: 18px;
    color: #4A90E2;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    color: #0d6efd;
}
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}